
.present
{
    width: 100%;
    display:flex;
 
   
}   

.create1
{
    background-color:whitesmoke;
    width:30%;
    height:50%;
}

.create2
{
   width:70%;
   height: 50%;
   font-size: 20px;
   margin-left: 20px;
}

img
{
   max-width: 700px;
   height: 250px;
}

.btn
{
    background-color: blue;
    font-size: medium;
    border: none;
    color:aliceblue;
    padding:5% 10%;
    cursor: pointer;
}



.right_button
{
    background-color:rgb(0, 183, 255);
    color: white;
    padding: 10px 10px;
    border: none;
    float: right;
    margin: 10px;
    font-size: medium;
    cursor: pointer;
}

ul 
{
    font-size: 17px;
    list-style-type: none;
    margin-left: -30px;
}

li{
    margin-top: 5px;
}

.create2 ul h2{
    font-size: medium;
}


